.pokemon-show {
  margin: auto;
  padding-top: 20px;
  width: 50%;
  text-align: center;
  background-color: rgba(206, 201, 195, 0.603);
  color: blueviolet;
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: blueviolet;
}

img {
  width: 20%;
}

.button-next {
  border-radius: 10px;
}